<p-card header='Edit the Site Information' subheader="The footer links appear at the bottom of the page in order of their index.">
<app-json-form [properties]="site_properties" [jsonForm]="siteForm"></app-json-form>
</p-card>
<p-card *ngIf="footerLinks" header='The Footer Links'>
  <p-scrollPanel [style]="{width: '100%', height: '200px'}">
    <div *ngFor="let flink of footerLinks">
      <div class="grid">
        <div class="col-10">
          <button pButton class="wide-button p-button-secondary" label="{{flink.linktext}}" (click)="editLink(flink)"></button>
        </div>
        <div class="col-1">
           <button label="Edit" pButton class="wide-button p-button-warning" type="button" icon="pi pi-pencil" iconPos="left" (click)="editLink(flink)"></button>
        </div>
        <div class="col-1">
          <button label="Delete" pButton class="wide-button p-button-danger" type="button" icon="pi pi-trash" iconPos="left" (click)="deleteLink(flink)"></button>
        </div>
      </div>
    </div>
  </p-scrollPanel>
  <button pButton class="p-button-primary" (click)="add()" label="Add Link"></button>
</p-card>
<p-dialog [style]="{width: '80%'}" [(visible)]="edit_footerLink" header="Editing Footer LInk">
  <app-json-form [properties]="linkProperties" [jsonForm]="footerLinkForm"></app-json-form>
  <button pButton class="p-button-primary" (click)="doneLink()" label="Done"></button>
</p-dialog>
<button pButton class="p-button-primary" (click)="save()" label="Save"></button>
