<div class="admin-header">
  <div class="grid">
    <div class="col-10">
      <span class="admin-header-text">LAS Admin Console</span>
    </div>
    <div class="col-2" style="padding: 0px">
      <button label="Logout" pButton class="p-button-warning" type="button"  (click)="logout()"></button>
    </div>
  </div>

  <span class="admin-header-subtext">Add container data sets to the browsing hierarchy, add data sets and data collections, edit data set descriptions and details, organize the browsing hierarchy, and delete or hide data sets, set data sets to update automatically, and back up and restore data set configuration.</span>
</div>
<app-admin></app-admin>
<router-outlet></router-outlet>
